<h1>Ma bibliothèque</h1>


<button routerLink="/books/add">
  Ajouter un livre
</button>

<div class="books-container">
  <!-- TODO 13 : Les données sont passées à la liste mais pas affichées. Affiche les données -->
  <div *ngIf="data && data.length > 0; else noBooks">
    <div class="book-card" *ngFor="let book of books">
      <div class="book-info">
        <h2>{{ book.title }}</h2> <!-- TODO 14: Appliquer la directive highlight à ce champ -->
        <p>{{ book.author }}</p>
        <p>
          <!-- TODO 15: Afficher la description du livre en utilisant un pour limiter à 20 caractères et ajouter des points de suspension si la description est plus longue.
           Il faut utiliser un pipe existant ou en créer un nouveau pipe. Libre choix -->
          {{ book.description }}
        </p>
        <p>Catégorie: {{ book.category }}</p>
        <p>Note: {{ book.rating }}</p>
        <p>Favori: {{ book.isFavorite ? 'Oui' : 'Non' }}</p>
      </div>
      
      <div class="book-actions">
        <button routerLink="/books/{{book.id}}">Détails</button>
        <button (click)="toggleFavorite(book)">{{ book.isFavorite ? 'Retirer des favoris' : 'Ajouter aux favoris' }}</button>
        <button (click)="deleteBook(book.id)">Supprimer</button>
      </div>
    </div>
  </div>

  <ng-template #noBooks>
    <p>Aucun livre dans votre bibliothèque. Commencez par en ajouter un!</p>
  </ng-template>
</div>
